* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-primaria: #ff6311;
  --cor-secundaria: #2c2b2b;
}

.cabecalho {
  background-color: var(--cor-secundaria);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-menu ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.cabecalho-menu ul li a {
  text-decoration: none;
  color: white;
}

.principal {
  background-image: url("../img/banner.png");
  height: 630px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.principal-conteudo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  padding-top: 300px;
  padding-left: 50px;
}

.principal-conteudo h1 {
  font-size: 60px;
}

.principal-conteudo a {
  width: 200px;
  height: 35px;
  background-color: var(--cor-primaria);
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 500px;
  background-color: var(--cor-secundaria);
}

.card-img figure img {
  width: 100%;
}

.card-img-princing {
  display: flex;
  justify-content: center;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: white;
}

.card-conteudo p {
  text-align: justify;
}

section {
  padding: 20px 50px;
}

.secao-dance,
.secao-princing {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.secao-dance {
  background-color: var(--cor-primaria);
}

.secao-princing {
  background-color: var(--cor-secundaria);
}

.cabecalho-secao {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cabecalho-secao p {
  text-align: justify;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
